- if current_user.id == todo_list.user.id
 #todo_list{ :id => "todo_list-#{todo_list.id}"}
  = link_to todo_list.name, profile_task_list_path(todo_list.user, todo_list), :id => "todo_list_link-#{todo_list.id}"
- else
 - if !todo_list.is_private?
  - if current_user.following?(todo_list)
   = render :partial => 'shared/unfollow', :object => todo_list, :as => :todo_list 
  - else
   = render :partial => 'shared/follow', :object => todo_list, :as => :todo_list 
