= f.input :name 
= f.input :is_private 
%div#todo_list_items
  = f.fields_for :items do |item_form| 
    = render :partial => "shared/todo_list_item_form", :locals => { :form => item_form } 
%div= add_todo_list_item_link(f, @todo_list)
