.todo_list{ :class => "#{todo_list.is_private? ? "private":"public"}", :id => "todo_list-#{todo_list.id}"}
 = link_to todo_list.name, profile_task_list_path(todo_list.user, todo_list), :id => "todo_list_link-#{todo_list.id}"
 %span= link_to 'Unfollow', unfollow_profile_task_list_path(todo_list.user, todo_list), :id => "unfollow-list-#{todo_list.id}", :remote => true, :confirm => "Are you sure?", :method => :delete 

