%h2= link_to @todo_list.user.name, profile_path(@todo_list.user)
%h3
 = @todo_list.name
 %span.small= @todo_list.is_private? ? '( Private )':''
= render :partial => "shared/todo_list_private_information"
%div
 = render :partial => 'shared/todo_list_item', :collection => @todo_list.items
