<!DOCTYPE html>
<html>
<head>
  <title>Toomuchtodo</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if(current_user) %>
    <p class="ui_action"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p> 
  <% elsif(controller_name != "sessions" && !current_user) %>
    <p class="ui_action"><%= link_to "Sign in", new_user_session_path %></p> 
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
